Checks: >
  cppcoreguidelines-*,
  readability-*,
  -readability-uppercase-literal-suffix,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -readability-identifier-length,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -readability-use-anyofallof,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-macro-to-enum,
  -cppcoreguidelines-special-member-functions,
  -readability-convert-member-functions-to-static
WarningsAsErrors: '*'
HeaderFilterRegex: '.*/canyon/(include/canyon|src)/(?!stb).*'
